.app_container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/bg.png');
  background-size: cover;
  background-position: center;
  overflow-y: auto;
}

.min-h-fit {
  flex-grow: 1;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
