/* General Navbar Styles */
.navbar {
  background-color: #6b46c1;
  color: white;
  position: relative;
  z-index: 10;
  padding: 0rem 1.5rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-menu-icon {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
}

/* Navbar Links */
.navbar-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 100%;
  background-color: #3182ce;
  padding: 1rem;
  display: none;
}

.navbar-links.navbar-links-open {
  display: flex;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  padding: 0.5rem;
}

.navbar-item a {
  color: white;
  text-decoration: none;
}

.navbar-item:hover {
  background-color: #2b6cb0;
  border-radius: 0.25rem;
}

/* Dropdown Menu */
.navbar-services {
  position: relative;
}

.navbar-services-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-dropdown {
  display: none;
  flex-direction: column;
  background-color: #3182ce;
  position: static;
  padding: 0.5rem;
  border-radius: 1rem;
}

.navbar-dropdown-item {
  padding: 0.5rem;
}

.navbar-dropdown-item:hover {
  background-color: #2b6cb0;
  border-radius: 0.25rem;
}

/* Show dropdown when hovering over navbar-services or navbar-dropdown */
.navbar-services:hover .navbar-dropdown,
.navbar-dropdown:hover {
  display: flex;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .navbar-menu-icon {
    display: none;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background-color: transparent;
  }

  .navbar-list {
    flex-direction: row;
    align-items: center;
  }

  .navbar-item {
    padding: 0 1rem;
  }

  .navbar-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: max-content;
  }

  .navbar-services:hover .navbar-dropdown {
    display: flex;
  }
}
